:root {
    --dp-primary: rgba(37, 37, 37, 0.86);
    --dp-white: #F3F3F3;
    --lato:  'Lato', sans-serif;
}

body {
    background-color: var(--dp-white);
    color: var(--dp-primary);
    font-family: var(--lato);
    margin: 5vh 10vw;
}

.quote {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    height: 300px;
    
    color: var(--dp-primary);

    margin-bottom: 5vh;
   
}