:root {
    --dp-primary: rgba(37, 37, 37, 0.86);
    --dp-white: #F3F3F3;
    --lato:  'Lato', sans-serif;
}

body {
    background-color: var(--dp-white);
    color: var(--dp-primary);
    font-family: var(--lato);
    font-size: 1.2em;
    margin: 5vh 20vw;
}
h1 {
    font-size: 5em;
}
.content {
    border-left: 3px solid #919191;
    padding-left: 20px;
}
.container-sm {
    max-width: 800px;
}
.quote {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;

    color: var(--dp-primary);
    margin-bottom: 5vh;
}
